<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> Used vehicle price prediction </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> Name :  <input type="text", name='a', placeholder="Name"> <br><br>
            Location :  <input list="Location", name='b', placeholder="Location">
            <datalist id="Location">
                <option value="Mumbai">
                <option value="Pune">
                <option value="Chennai">
                <option value="Coimbatore">
                <option value="Hyderabad">
                <option value="Jaipur">
                <option value="Kochi">
                <option value="Delhi">
                <option value="Bangalore">
                <option value="Ahmedabad">
                <option value="Kolkata">
              </datalist>
            <br><br>
            Year :  <input type="number", name='c', placeholder="Year"> <br><br>
            Kilometers Driven : <input type="number", name='d', placeholder="enter 4"> <br><br>
            Fuel Type :  
            <input list="fuel", name='e', placeholder="Fuel Type">
            <datalist id="fuel">
              <option value="CNG">
              <option value="Petrol">
              <option value="Diesel">
              <option value="LPG">
              <option value="Electric">
            </datalist>
            <br><br>

            Transmission :  <input list="transmission", name='f', placeholder="Transmission"> 
            <datalist id="transmission">
                <option value="Automatic">Automatic</option>
                <option value="Manual">Manual</option>
              </datalist>
            <br><br>

            Owner Type :  <input list="ownerType", name='g', placeholder="Owner Type"> 
            <datalist id="ownerType">
                <option value="First">
                <option value="Second">
                <option value="Third">
                <option value="Fourth & Above">
              </datalist>
            <br><br>

            Mileage :  <input type="text", name='h', placeholder="Mileage"> <br><br>
            <!-- Engine :  <input type="number", name='Engine', placeholder="Engine"> <br><br> -->
            Power :  <input type="text", name='i', placeholder="Power"> <br><br>
            Seats :  <input type="text", name='j', placeholder="no of Seats"> <br><br>
            <!-- New Price :  <input type="number", name='New Price', placeholder="Price of the same new model now"> <br><br><br> -->
        </b>
            <input type="submit" , value='predict!' >
        </form>
       <br> 
       <a href='/churn'>go to churn prediction page</a><br>
        
        
    </center>

    </body>
</html>