<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> Loan Defaulter </h1><br>
        
        <form method="POST", action="{{url_for('loan')}}">
           <b> loan amount :  <input type="number", name='a', placeholder="loan amount"> <br><br>
            asset cost :  <input type="number", name='b', placeholder="asset cost"> <br><br>
            loan to asset value ratio :  <input type="text", name='c', placeholder="loan to asset value ratio"> <br><br>
            asset manufacturer id : <input type="number", name='d', placeholder="asset manufacturer id"> <br><br>
            credit score :  <input type="number", name='e', placeholder="credit score"> <br><br>
            new loan accounts in last 6 months :  <input type="number", name='f', placeholder="new loan accounts in last 6 months"> <br><br>
            overdue accounts in last 6 months :  <input type="number", name='g', placeholder="overdue accounts in last 6 months"> <br><br>
            avg account age :  <input type="text", name='h', placeholder="avg account age"> <br><br>
            active loan accounts :  <input type="number", name='i', placeholder="active loan accounts"> <br><br>
            existing loan balance :  <input type="number", name='j', placeholder="existing loan balance"> <br><br>
            total disbursed amount :  <input type="number", name='k', placeholder="total disbursed amount"> <br><br>
            current installment :  <input type="number", name='l', placeholder="current installment"> <br><br><br>
        </b>
            <input type="submit" , value='predict!' >
        </form>

        
        
    </center>

    </body>
</html>